
body h1, h2, h3, h4, h5, p, a, span {
	font-family: 'Noto Sans Armenian', sans-serif;
	color: #444;
	margin: 0;
	padding: 0;
}

.section{height: 100%;overflow: hidden;min-height: 600px;}
.section{height: 100%;overflow: hidden;min-height: 600px;}
.grid { display: -webkit-box;display: -moz-box;display: -webkit-flex; display:-moz-flex; display:-o-flex; display:-ms-flexbox; display: flex; -webkit-flex-direction:row;-moz-flex-direction:row; -o-flex-direction:row; -ms-flex-direction:row; flex-direction: row; }
.grid.wrap {-webkit-box-wrap:wrap;-moz-box-wrap:wrap;-webkit-flex-wrap:wrap;-ms-flex-wrap:wrap;flex-wrap:wrap;}
.grid.column-orient {-webkit-box-orient: vertical;-moz-box-orient: vertical;-webkit-flex-direction:column;-moz-flex-direction:column; -o-flex-direction:column; -ms-flex-direction:column; flex-direction:column;}
.grid.row-orient {-webkit-box-orient: horizontal;-moz-box-orient: horizontal;-webkit-flex-direction:row;-moz-flex-direction:row; -o-flex-direction:row; -ms-flex-direction:row; flex-direction: row;}
.grid.managed-width, .grid-cell.managed-width {width:100%;max-width:1600px;}
.grid.narrow-width, .grid-cell.narrow-width {width: 100vw;max-width: 850px;}
.grid.borders div {border-bottom: 1px solid #aaa;border-left: 1px solid #aaa;}
.grid.borders.first-row div {border-top: 1px solid #aaa;font-weight:700;background: #eaeaea;background: -moz-linear-gradient(top,  #eaeaea 0%, #d8d8d8 100%);background: -webkit-linear-gradient(top,  #eaeaea 0%,#d8d8d8 100%);background: linear-gradient(to bottom,  #eaeaea 0%,#d8d8d8 100%);}
.grid.borders div:last-child {border-right: 1px solid #aaa;}
.grid.center {-webkit-align-content: center;-moz-align-content: center;-ms-align-content: center;align-content: center;-webkit-align-items: center;-moz-align-items: center;-ms-align-items: center;align-items: center; }
.grid.nowrap {-moz-box-wrap:nowrap!important;flex-wrap:nowrap!important;-ms-box-wrap:nowrap!important;}
.grid.bottom{-webkit-justify-content: flex-end;-moz-justify-content: flex-end;-ms-justify-content: flex-end;justify-content: flex-end;-webkit-align-content: flex-end;-moz-align-content: flex-end;-ms-align-content: flex-end;align-content: flex-end;-webkit-align-items: flex-end;-moz-align-items: flex-end;-ms-align-items: flex-end;align-items: flex-end;}
.grid.baseline {align-items:baseline;-webkit-align-items:baseline;-moz-align-items: baseline;-ms-align-items: baseline;}
.grid.justify-center {-webkit-justify-content: center;-moz-justify-content: center;-ms-justify-content: center;justify-content: center;}
.grid.justify-space {-moz-justify-content:space-between;-ms-justify-content:space-between;-webkit-justify-content:space-between;justify-content:space-between;}
.grid.justify-space-around {justify-content:space-around;-moz-justify-content:space-around;-ms-justify-content:space-around;-webkit-justify-content:space-around;}
.grid.justify-end {justify-content:flex-end;-moz-justify-content:flex-end;-ms-justify-content:flex-end;-webkit-justify-content:flex-end;}
.grid.justify-start {justify-content:flex-start;-moz-justify-content:flex-start;-ms-justify-content:flex-start;-webkit-justify-content:flex-start;}
.grid-cell {-webkit-box-flex:1 1 auto;-moz-box-flex:1 1 auto;-webkit-flex:1 1 auto;-ms-flex:1 1 auto;flex:1 1 auto;}
.grid-cell.double-size {-webkit-flex-grow:2;-moz-flex-grow:2;flex-grow:2;-ms-flex-grow:2;}
.grid-cell.noflex {-webkit-box-flex:0 0 auto;-moz-box-flex:0 0 auto;-webkit-flex:0 0 auto;-ms-flex:0 0 auto;flex:0 0 auto;}
.grid-cell.center {-webkit-align-self:center;-align-self:center;-moz-align-self:center;-ms-align-self:center;text-align:center;}
.grid-cell.center-nonText {-webkit-align-self:center;-align-self:center;-moz-align-self:center;-ms-align-self:center;}
.grid-cell.end {-webkit-align-self:flex-end;-align-self:flex-end;-moz-align-self:flex-end;-ms-align-self:flex-end;}
.grid-cell.grow0{-webkit-flex-grow:0;-moz-flex-grow:0;flex-grow:0;-ms-flex-grow:0;}
.grid-cell.grow2{-webkit-flex-grow:2;-moz-flex-grow:2;flex-grow:2;-ms-flex-grow:2;}
.grid-cell.grow3{-webkit-flex-grow:3;-moz-flex-grow:3;flex-grow:3;-ms-flex-grow:3;}


.padd90 {padding-top:90px;}
/** -------Nav Menu---------- **/

.main {
	background-color: #243746;
	position: fixed;
	width: 100%;
	transition: all .8s;
	height: 103px;
	z-index: 999999;
}
#section1 {
	background: rgba(0, 0, 0, 0.39);
}
.expand {
	height: 57px !important;
	background-color: rgba(36, 55, 70, 0.27);
}
.logoSection {
	position: relative;
}
.logoSection h1 {
	margin: 0;
}
.collapseIcon-box {
	position: absolute;
	bottom: 0;
	left: 47%;
}
.webLogo {
	max-width: 100px;
	margin: 5px 0 0 25px;
	transition: width .1s ease;
}
.animLogo {
	max-width: 56px;
	margin: 0 0 0 25px;
}
.modal-content {
	background-color: #b1b1b1;
}
.modal-header {
	background-color: #2e92b3;
	border-bottom: 4px solid #cccccc;
}
.modal-title {
	text-align: center;
    text-transform: uppercase;
    color: #fff;
}
.modal-footer a {
	color: #10689a;
	background-color: #fff;
    padding: 0 30px;
    border: none;
    border-radius: 0;
}
.modal-footer a:focus, .modal-footer a:hover {
	color: #10689a;
}
.visible-xs-nav {
	display: none;
}
.headInfo {
	box-shadow: 
	inset 0px 11px 8px -10px #243746,
    inset 0px -11px 8px -10px #243746;
	
}

.headInfo_bg .grid {
	min-height: 700px;
}
.mainText {
	
	max-width: 564px;
	padding: 60px 20px;
	margin-left: 10px;
    background-color: rgba(0, 0, 0, 0.67);
    margin-top: 110px;
}
.mainText h1 {
	text-transform:uppercase;
	font-size: 2em;
	padding-bottom:30px;
}
.mainText p {
	padding:15px 0;
	border-bottom: 4px solid #fff;
	border-top: 4px solid #fff;
	font-size: 1.2em;

}
.mainText h1, p {
	color:#fff;

}
/* -----------------section1 end--------------- */

/* -----------------section2 styling-------------- */

.cartBox {
	width:100%;
	min-height:700px;
	background:#243746;
}

/* ----------------section2 end---------------- */

/* --------------section3 start------------- */
.partners {
	background:rgba(0, 0, 0, 0.38);
	width:100%;
	min-height:700px;
	box-shadow: 
	inset 0px 11px 8px -10px #243746,
    inset 0px -11px 8px -10px #243746;
}
.partnerBox {
	background: rgba(255, 255, 255, 0.41);
    padding: 15px;
    border-radius: 5px;
    min-height: 170px;
}
.partnerBox img {
    max-width: 200px;
    display: block;
    margin: 20px auto;
    margin-bottom: 20px;
}
.partnerBox span {
	color: #243746;
}
/* ---------------section3 end ---------------*/

/*----------------footer start ---------------*/
.footer {
	background-color:#243746;
	width:100%;
}
.footer-menu_item {
	padding-bottom:25px;
}
.footer-menu_item ul li {
	display:inline-block;
	list-style:none;
}
.footer-menu_item ul li a {
	font-size:13px;
	transition: all .2s ease;
}
.footer-menu_item ul li a:hover {
	color:#999;
	transition: all .2s ease;
}
.footer-menu_item ul li a:focus {
	color:#f0f0f0 !important;
	outline:none;
	text-decoration:none !important;
}
.footer-menu_item ul li>span {
	color:#f0f0f0;
	font-weight:700;
	padding:0 10px;
}
.footer-copyright {
	font-size: 12px;
    letter-spacing: 1px;
}
.footer-soc i{
	transition: all .2s ease;
}
.footer-soc i:hover {
	color: #2e92b3;
	transition: all .2s ease;
}



/* Smartphones (landscape) ----------- */
@media only screen and (min-width : 824px) and (max-width : 5000px) {
	.cbp-hsmenu {
		display: block !important;
	}
}
@media only screen and (max-width : 320px) {
/* Styles */
}
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) {
/* Styles */
}

/* iPads (portrait) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) {
/* Styles */
}
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) and (-webkit-min-device-pixel-ratio : 2) {
/* Styles */
}

@media only screen and (max-width : 824px){
	.hidden-xs-nav {
		display: none;
	}
	.visible-xs-nav {
		display: block !important;
	}
	.cbp-hsinner {
		-webkit-box-orient: vertical;-moz-box-orient: vertical;-webkit-flex-direction:column;-moz-flex-direction:column; -o-flex-direction:column; -ms-flex-direction:column; flex-direction:column;
	}
	/* ---------cover-h1 info------------------- */
	.mainText {
	
	max-width: 564px;
	padding: 20px 20px;
	margin:0 auto;
	
	}
	.mainText h1 {
		text-transform:uppercase;
		font-size: 1.3em;
		padding-bottom:30px;
	}
	.mainText p {
		padding:15px 0;
		font-size: 1em;

	}
	.cbp-hsmenu {
		display: none;
		background-color: #243746;
		transition: background-color .8s ease;
	}
	.open-nav {
		background-color: rgba(36, 55, 70, 0.64) !important;
	}
}
@media all and (max-width: 858px) and (min-width: 824px) {
	.cbp-hsmenu-wrapper .cbp-hsmenu {
		padding: 0px 1.2em !important;
	}
	.cbp-hsmenu > li {
		margin-left: 1em !important;
	}
	.hidden-xs-nav
}


