body h1, h2, h3, h4, h5, p, a, span {
	font-family: 'Lato', sans-serif;
	color: #444;
}s
.section{height: 100%;overflow: hidden;min-height: 600px;}
.section{height: 100%;overflow: hidden;min-height: 600px;}
.grid { display: -webkit-box;display: -moz-box;display: -webkit-flex; display:-moz-flex; display:-o-flex; display:-ms-flexbox; display: flex; -webkit-flex-direction:row;-moz-flex-direction:row; -o-flex-direction:row; -ms-flex-direction:row; flex-direction: row; }
.grid.wrap {-webkit-box-wrap:wrap;-moz-box-wrap:wrap;-webkit-flex-wrap:wrap;-ms-flex-wrap:wrap;flex-wrap:wrap;}
.grid.column-orient {-webkit-box-orient: vertical;-moz-box-orient: vertical;-webkit-flex-direction:column;-moz-flex-direction:column; -o-flex-direction:column; -ms-flex-direction:column; flex-direction:column;}
.grid.row-orient {-webkit-box-orient: horizontal;-moz-box-orient: horizontal;-webkit-flex-direction:row;-moz-flex-direction:row; -o-flex-direction:row; -ms-flex-direction:row; flex-direction: row;}
.grid.managed-width, .grid-cell.managed-width {width:100%;max-width:1600px;}
.grid.narrow-width, .grid-cell.narrow-width {width: 100vw;max-width: 850px;}
.grid.borders div {border-bottom: 1px solid #aaa;border-left: 1px solid #aaa;}
.grid.borders.first-row div {border-top: 1px solid #aaa;font-weight:700;background: #eaeaea;background: -moz-linear-gradient(top,  #eaeaea 0%, #d8d8d8 100%);background: -webkit-linear-gradient(top,  #eaeaea 0%,#d8d8d8 100%);background: linear-gradient(to bottom,  #eaeaea 0%,#d8d8d8 100%);}
.grid.borders div:last-child {border-right: 1px solid #aaa;}
.grid.center {-webkit-align-content: center;-moz-align-content: center;-ms-align-content: center;align-content: center;-webkit-align-items: center;-moz-align-items: center;-ms-align-items: center;align-items: center; }
.grid.nowrap {-moz-box-wrap:nowrap!important;flex-wrap:nowrap!important;-ms-box-wrap:nowrap!important;}
.grid.bottom{-webkit-justify-content: flex-end;-moz-justify-content: flex-end;-ms-justify-content: flex-end;justify-content: flex-end;-webkit-align-content: flex-end;-moz-align-content: flex-end;-ms-align-content: flex-end;align-content: flex-end;-webkit-align-items: flex-end;-moz-align-items: flex-end;-ms-align-items: flex-end;align-items: flex-end;}
.grid.baseline {align-items:baseline;-webkit-align-items:baseline;-moz-align-items: baseline;-ms-align-items: baseline;}
.grid.justify-center {-webkit-justify-content: center;-moz-justify-content: center;-ms-justify-content: center;justify-content: center;}
.grid.justify-space {-moz-justify-content:space-between;-ms-justify-content:space-between;-webkit-justify-content:space-between;justify-content:space-between;}
.grid.justify-space-around {justify-content:space-around;-moz-justify-content:space-around;-ms-justify-content:space-around;-webkit-justify-content:space-around;}
.grid.justify-end {justify-content:flex-end;-moz-justify-content:flex-end;-ms-justify-content:flex-end;-webkit-justify-content:flex-end;}
.grid.justify-start {justify-content:flex-start;-moz-justify-content:flex-start;-ms-justify-content:flex-start;-webkit-justify-content:flex-start;}
.grid-cell {-webkit-box-flex:1 1 auto;-moz-box-flex:1 1 auto;-webkit-flex:1 1 auto;-ms-flex:1 1 auto;flex:1 1 auto;}
.grid-cell.double-size {-webkit-flex-grow:2;-moz-flex-grow:2;flex-grow:2;-ms-flex-grow:2;}
.grid-cell.noflex {-webkit-box-flex:0 0 auto;-moz-box-flex:0 0 auto;-webkit-flex:0 0 auto;-ms-flex:0 0 auto;flex:0 0 auto;}
.grid-cell.center {-webkit-align-self:center;-align-self:center;-moz-align-self:center;-ms-align-self:center;text-align:center;}
.grid-cell.center-nonText {-webkit-align-self:center;-align-self:center;-moz-align-self:center;-ms-align-self:center;}
.grid-cell.end {-webkit-align-self:flex-end;-align-self:flex-end;-moz-align-self:flex-end;-ms-align-self:flex-end;}
.grid-cell.grow0{-webkit-flex-grow:0;-moz-flex-grow:0;flex-grow:0;-ms-flex-grow:0;}
.grid-cell.grow2{-webkit-flex-grow:2;-moz-flex-grow:2;flex-grow:2;-ms-flex-grow:2;}
.grid-cell.grow3{-webkit-flex-grow:3;-moz-flex-grow:3;flex-grow:3;-ms-flex-grow:3;}

.padd90 {padding-top:90px;}
/** -------Nav Menu---------- **/

.logoSection h1 {
	margin: 0;
}
.logoSection h1 img {
	max-width: 100px;
	margin: 5px 0 0 5px;
}
/* ------------section1 start---------------- */
.headInfo {
	background-image:url('../images/happy-family.png');
	background-repeat:no-repeat;
	background-size:cover;
	background-position:center center;
	width:100%;
	min-height:700px; 
	
}
.bgShadow {
	background-color:rgba(33, 33, 33, 0.28);
	width:100%;
	min-height:700px;
}
.headInfo h1 {
	color: #fff;
    font-size: 44px;
    margin-top: 158px;
}
.mainText{width:100%;}
.mainText p {
	color:#fff;
	font-size: 2em;

}
/* -----------------section1 end--------------- */

/* -----------------section2 styling-------------- */

.cartBox {
	width:100%;
	min-height:700px;
	background:#f0f2f5;
}
.infoBox {
	width:100%;
	min-height:460px;
	background:#ccc;
	margin-right:20px;
}
.infoBox a i, .infoBox a span, .infoBox .icon1 {
	color: #fff;
	transition: color .8s ease;
}
.infoBox a:hover i, .infoBox a:hover span {
	color: #e34b55;
	transition: color .8s ease;
}
.infoBox a:hover .icon1 {
	background-color: #404040;
	transition: background-color .8s ease;
}
.infoBox .infoBox_bg {
	opacity: 1;
	transition: opacity .8s ease;
}
.infoBox a:hover .infoBox_bg {
	opacity: 0.4;
	transition: opacity .8s ease;
}
.infoBox:last-child {
	margin-right:0;
}
.infoBox_icon {
	min-height:29%;
	width:100%;
}
.infoBox_icon i {
	font-size: 70px;
    color: #fff;
    display: block;
    text-align: center;
    padding-top: 0.3em;
}
.infoBox_icon span {
	font-size:2em;
	color:#fff;
	display: block;
    text-align: center;
}
.icon1{
	background:#e34b55;
}
.icon2{
	background:#2e92b3;
}
.icon3{
	background:#e34b55;
}
.icon4{
	background:#2e92b3;
}
.infoBox_bg {
	
	background-repeat:no-repeat;
	background-size:cover;
	background-position:center center;
	width:100%;
	min-height:324px;
}
.bg1{background-image:url('../images/images.jpg');}
.bg2{background-image:url('../images/money.jpg');}
.bg3{background-image:url('../images/cards.jpeg');}
.bg4{}
/* ----------------section2 end---------------- */

/* --------------section3 start------------- */
.partners {
	background-image:url('../images/main-bg.jpg');
	background-repeat:no-repeat;
	background-size:cover;
	background-position:center center;
	width:100%;
	min-height:700px;
}
/* ---------------section3 end ---------------*/
/*----------------footer start ---------------*/
.footer {
	background-color:#243746;
	width:100%;
	min-height:500px;

}
.footCollumn {
	width: 100%;
	margin-right: 10px;
}
.footCollumn a{
	display: block;
}